*.swp
script/__pycache__
prof
bin
obj
swift/51/libswift.a
swift/51/swift_lyap
swift/51/swift_lyap2
swift/51/swift_mvits
swift/51/swift_mvs
swift/51/swift_readpl_bin
swift/51/swift_rmvs
swift/51/swift_rmvs2
swift/51/swift_rmvs3
swift/51/swift_rmvs3_readpl
swift/51/swift_bs
swift/51/swift_tu4
swift/main/swift_glisse_ext
swift/main/swift_readpl_bin_r4
example/*-out
benchmark/*
benchmark/*/*
pics/*
*.png
*.txt
.vscode